name: CI - Shatasks

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
      # 1. Fazer checkout do repositório
      - name: Checkout do código
        uses: actions/checkout@v3

      # 2. Configurar Python 3.11
      - name: Configurar Python
        uses: actions/setup-python@v4
        with:
          python-version:
